<%= form_with model: @blog_post do |f| %>
  <% if f.object.errors.any? %>
    <% f.object.errors.full_messages.each do |mes| %>
      <p><%= mes %></p>
    <% end %>
  <% end %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <% if @blog_post.cover_image.present? %>
    <div>
      <%= image_tag @blog_post.cover_image %>
    </div>

    <div>
      <%= link_to 'Remove cover image', blog_post_cover_image_path(@blog_post), data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete this cover image? and all the other changes won't get saved"} %>
    </div>
  <% end %>

  <div>
    <%= f.label :cover_image %>
    <%= f.file_field :cover_image %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>

  <div>
    <%= f.label :published_at %>
    <%= f.datetime_select :published_at, include_blank: true %>
  </div>

  <div><span class="bg-blue-400 px-4 py-2 rounded hover:bg-blue-600"><%= f.submit %></span></div>
<% end %>
