<%= form_with model: @blog_post do |f| %>
  <% if f.object.errors.any? %>
    <% f.object.errors.full_messages.each do |mes| %>
      <p><%= mes %></p>
    <% end %>
  <% end %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div><span class="bg-blue-400 px-4 py-2 rounded hover:bg-blue-600"><%= f.submit %></span></div>
<% end %>
